.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-row2 {
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.img_service1 {
  float: left;
  margin-right: 60px;
}

.carousel1 {
  background-color: #f1f3ff;
  padding: 7%;
}

.FQA {
  padding-top: 50px;
}

.headerbg {
  background-color: #f1f3ff;
  padding-top: 50px;
}
.tambahpadding {
  padding-top: 50px;
}

h5 {
  padding-top: 10px;
}

.sewaskrg {
  background-color: #0d28a6;
  padding: 100px;
}

.bgnav {
  background-color: #f1f3ff;
}

.fotomobil {
  width: 100%;
}

.card {
  margin-top: 10px;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.img_service1 {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .offset,
  .offcanvas-end {
    width: 50%;
  }
}
